<% if(err){ let error=payload.err; // flush %>

    <script> alert('Erro', '<%=error%>', 'danger')</script>

    <% } else { // flush %>

        <div class="container mt-3">
            <h3>Entidades</h3>
            <hr>
            <div class="table table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                        <th>Entidade</th>
                        <th>json</th>
                        <th class="text-center">crdate</th>
                    </thead>
                    <tbody>

                    <% entities=payload.entities; for(let entity in entities){ // flush %>

                        <tr class="tr-<%=entities[entity].name%>">
                            <td class="td-<%=entities[entity].name%> td-name">
                                <%=entities[entity].name.toUpperCase()%>
                            </td>
                            <td class="td-<%=entities[entity].name%> td-json">
                                <a href="javascript: call('post', { 'resource': 'database', 'workflow': 'mssql', 'object': 'table', 'module': 'create', 'entity': '<%=entities[entity].name%>' }, (retorno) => { alert('Retorno', retorno, 'info') })"
                                    id="a-<%=entities[entity].name%>">/config/entities/<%=entities[entity].json%>
                                        </a>
                            </td>
                            <td class="td-<%=entities[entity].name%> td-crdate">
                                <div class="text-center">
                                    <div class="spinner-grow spinner-grow-sm text-danger" role="status">
                                        <span class="visually-hidden">Checando...</span>
                                    </div>
                                </div>
                            </td>
                        </tr>

                        <% }; // flush %>

                    </tbody>
                </table>

                <% }; // flush %>

            </div>
        </div>
        <% // flush includes/adm-inc.ejs into ../pages/adm.ejs %>