<head>
  <%-include meta.ejs %>
    <%-include tenant.ejs %>
      <%-include seo.ejs %>
        <%-include share.ejs %>
          <title>
            <%-title%>
          </title>
          <%-include style.ejs %>

</head>
<%-include alert.ejs %>