<head>
<%-include meta.ejs %>
<%-include tenant.ejs %>
<%-include seo.ejs %>
<%-include share.ejs %>
<title>
<%=title%>
</title>
<%-include ./style.ejs %>
<script src="assets/javascript/app/alert.js"></script>
</head>