<% // server-side
if(error) { 
    // flush
    %>
    <section class="section my-3">
    <h5>
        <%=error%>
    </h5>
    </section>
    <% // server-side
} else { /* { else of if(error) */
    // flush
    %>
    <section class="section mt-3 mb-3">
        <h4>Revise as <%=entity.length%> tabelas </h4>
        <p>Eventuais alterações deverão ser feitas diretamente no arquivo
        <strong>back-end/config/config.json</strong>
        </p>
        <hr>
    </section>
    <section class="section mb-5">
        <% // server-side
        let thisEntityName = 'No Entity'
            , fieldsMap = field => {
                return `
                {
                name: '${field.name}',
                type: '${field.type}',
                length: '${field.length}',
                null: '${field.null}',
                searchable: '${field.searchable}',
                form: false
                }`
            }
        for(let i in entity) {
            thisEntityName = entity[i].name
            entity[i].fields.map((field) => { return fieldsMap(field) }, entity[i].fields)
        // flush
        %>
        <div class="accordion mb-3" id="accordion<%=thisEntityName%>">
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading<%=thisEntityName%>">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%=thisEntityName%>"
                        aria-expanded="true" aria-controls="collapse<%=thisEntityName%>">
                        <h4>
                            <%=thisEntityName%>
                        </h4>
                    </button>
                </h2>
                <div id="collapse<%=thisEntityName%>" class="accordion-collapse collapse show" aria-labelledby="heading<%=thisEntityName%>" data-bs-parent="#accordion<%=thisEntityName%>">
                    <div class="accordion-body">
                            <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <th>Coluna</th>
                                <th>Tipo</th>
                                <th>Tamanho</th>
                                <th>Obrigatório</th>
                                <th>Pesquisar</th>
                                <th>Valor Padrão</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            Id<%=thisEntityName%>
                                        </td>
                                        <td>
                                            Number
                                        </td>
                                        <td>
                                        </td>
                                        <td>
                                            <%=true%>
                                        </td>
                                        <td>
                                            <%=true%>
                                        </td>
                                        <td>
                                            <%=false%>
                                        </td>
                                 </tr>
                                <% // server-side
                                let fields = entity[i].fields
                                for(let ii in fields)
                                { 
                                // flush
                                %>
                                <tr>
                                <td>
                                    <%=fields[ii].name%>
                                </td>
                                <td>
                                    <%=fields[ii].type%>
                                </td>
                                <td>
                                    <%=fields[ii].length%>
                                </td>
                                <td>
                                    <%=!fields[ii].null%>
                                </td>
                                <td>
                                    <%=fields[ii].searchable%>
                                </td>
                                <td>
                                    <%=fields[ii].default%>
                                </td>
                                </tr>
                                <% // server-side
                                } /* }of for(let ii in fields) */ 
                                // flush
                                %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% 
        // server-side
        } /* }of for(let i in entity) */
        // flush
        %>
        </section>
        <div class="d-grid gap-2 mb-5" id="divButton">
        <button class="btn btn-success btn-lg" id="btnBuild" onclick="httpCall('build', { caller: document.baseURI }, build)">
            Rodar Build
        </button>
        </div>
        <% 
        // server-side
        } /* }of else if(error) */
        // flush
        %>
        <section class="section my-3"></section>
        <% // flush include/main-adm.ejs %>