<!doctype html>
<html lang="pt-br">
<%-include ../blocks/head.ejs %>
<body>
<%-include ../blocks/nav.ejs %>
<main class="flex">
<%-include ../blocks/alert.ejs %>
<div class="container" id="main-adm"><%-include ../includes/v1/adm-inc.ejs %></div>
</main>
<%-include ../blocks/javascript.ejs %>
</body>
</html>