<% // flush %>
  <!doctype html>
  <html lang="pt-br">
  <%-include ../blocks/head.ejs %>

    <body>
      <%-include ../blocks/nav.ejs %>
        <main class="flex">
          <div class="container" id="main-adm">
            <%-include ../blocks/alert.ejs %>
            <%-include ../includes/adm-inc.ejs %>
          </div>
        </main>
        <%-include ../blocks/javascript.ejs %>
    </body>

  </html>
  <% // flush /adm %>