<% // flush %>
  <!doctype html>
  <html lang="pt-br">
  <%-include ../blocks/head.ejs %>

    <body>
      <%-include ../blocks/nav.ejs %>
        <main class="flex">
          <div class="container" id="main-adm">
            <div class="tab-content" id="nav-tabContent">
              <%-include ../includes/adm-desktop-inc.ejs %>
              <%-include ../includes/apps-inc.ejs %>
              <%-include ../includes/config-inc.ejs %>
              <%-include ../includes/sql-inc.ejs %>
            </div>
          </div>
        </main>
        <%-include ../blocks/javascript.ejs %>
    </body>

  </html>
  <% // flush /adm %>

<!--
Persona360
**********
Sistema orientado a EVENTOS inspirado no Diagrama de Ishikawa regido pelo Ikigai

Definições
**********

  # Evento
  ********
  O fato em sí. Nem tudo é um problema (a principal diferença do Ishikawa), mas todo problema por se tornar uma oportunidade de melhorar e/ou inovar

  # Causa	
  *******
  origem, motivo, razão de algo.

    Causa principal
    ***************
    causas mais notáveis, causas de primeiro nível que agruparão subcausas

    Causa secundária
    ****************	
    subcausas das causas principais, ramificação das causas principais

  # Ação
  ******

    Tags
    *******
      1 - Agentes
      2 - Momentos
      3 - Classificações
      4 - Decisões

          Agente
          *****************
          Entidade [Nome do entidade]
          [Detalhes da entidade]
          [Agrupamentos da entidade]

          1 - Identificação
          2 - Decisão
          3 - Reação

          Momento
          *******
          Conhecer / Conquistar / Conviver

          Classificação
          *************

            Evento Ordinário
            *****************
            evento rotineiro que obedece um calendário conhecido ou é uma reação dos agentes a um evento provocado
            
            Tipo
            ****
            Todos os eventos conhecidos

            Evento Extraordinário
            **********************
            dificuldade na obtenção de um determinado objetivo ou resultado esperado, situação difícil que pede uma solução, no
            Diagrama de Ishikawa, é comum que o problema apareça como uma pergunta

            Tipo
            ****
            1 - catástrofe
            2 - gravíssimo
            3 - grave
            4 - importante
            5 - oportunidade (falso problema)
        
        Decisão
        *******
        dentro das alternativas, escolher a mais adequada segundo sua análise
        
  # Efeito
  ********
  aquilo que é produzido por uma causa, resultado, consequência

  # Conclusão
  ***********
  

˜˜˜˜˜˜
ikigai 
˜˜˜˜˜˜
1 - O que amo fazer
2 - O que posso fazer bem
3 - O que posso ser pago para fazer
4 - O que o mundo precisa
5 - O que detesto fazer (adição pessoal do Pedro)

-->